
<div class="modal" tabindex="-1" role="dialog" id="bienvenida">
    <div class="modal-dialog" role="document">
      <div class="modal-content cajaBienvenida">  
        <div class="modal-body  row">
            <img src="/images/mascotaFeliz.png" alt="Clipcito" class="img-fluid col-6">
          <p class="col-6 cajaTextoBienvenida">Hola yo soy Crafer, y te doy la bienvenida a nuestra tienda online, no dudes en mandarnos un mensaje si tenes inquietudes. </p>
        </div>
      
      </div>
    </div>
  </div>