<section id="buscador">
    <div class="" id="filter">
        <form action="/tienda" method="get" enctype="multipart/form-data" class="row  estiloDeCaja py-4">
            <div class="form-group col-4">
                <label for="producto">Buscar por nombre de producto</label>
                <input class="form-control buscadortitulo" type="text" placeholder="producto" name="buscar" />
            </div>

            <div class="form-group col-4">
                <label for="categoria">Categorias</label>
                <select class="form-control categorias" id="categoria" name="buscarCategoria">
                    <option value="" selected>Elija una categoria</option>
                    <% for(let i=0; i< categoria.length; i++) { %>
                        <option value="<%= categoria[i].idCategorias %>">
                            <%= categoria[i].nombreCategoria %>
                        </option>
                        <% } %>
                </select>
            </div>

            <div class="form-group col-4 filtros">
                <label for="filtro">Filtros</label>
                <select class="form-control filtrosselect" id="categoria" name="buscarFiltro">
                </select>
            </div>
            <div class="row">
                <button type="submit" class="btn  btn-primary col-3 botonFiltro">Buscar</button>
            </div>
        </form>
    </div>
</section>