
    <!--FOOTER-->
    <footer class="py-5 mt-5 container-fluid bg-light " id="piePagina">
        
         <div class="row mx-5 justify-content-between">
            <img src="/images/mascotaFeliz.png" alt="" class="img-fluid col-1 mascotaFeliz">
          
                <form method="post" action="/suscribirse" class="suscribite col-5 mr-5">
                    <h5>Subscribite a las novedades</h5>
                    <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                        <label for="newsletter1" class="visually-hidden">Email</label>
                        <input id="newsletter1" type="email" name="email" class="form-control" placeholder="Email">
                        <button class="btn botones" type="submit">Subscribirse</button>
                    </div>
                </form>
         
            
        </div>



        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 mx-5 border-top">
            <p>&copy; 2022- copyright ClipShop - Programadora Ailen Cury</p>
            <ul class="list-unstyled d-flex mr-5">
                <li class="ms-3">
                    <a class="link-dark redesFooter" href="#"><img src="/images/red-ws.png" alt="" width="35"
                            height="35"></a>
                </li>
                <li class="ms-3">
                    <a class="link-dark redesFooter" href="#"><img src="/images/red-face.png" alt="" width="35"
                            height="35"></a>
                </li>
                <li class="ms-3">
                    <a class="link-dark redesFooter" href="#"><img src="/images/red-ig.png" alt="" width="35"
                            height="35"></a>
                </li>
                <li class="ms-3">
                    <a class="link-dark redesFooter" href="#"><img src="/images/red-twit.png" alt="" width="35"
                            height="35"></a>
                </li>
            </ul>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
 
    <!--SCRIPT PROPIOS-->
    <script src="/js/funcionalidad.js"></script>
 
    <script>
      
        /*DESPLEGABLES*/
        $('.toggler, .nav-content a:not(#dropdown-link)').on('click', function () {
            $('.toggler').toggleClass('change');
            $('.nav-content').slideToggle();
            $('.menu-overlay').toggle();            
          
        });

        $('.menu-overlay').on('click', function () {
            $('.toggler').removeClass('change');
            $('.nav-content').slideUp();
            $('.menu-overlay').hide();
           
            
        });
    $("#btnBurger").on('click', function (){
        $("#contadorCarrito").toggleClass("mover")
    })
    
        
    </script>
</body>

</html>