<!--BARRA-->

<header class="container-fluid " id="encabezadoPagina">
    <nav class="navbar navbar-expand-lg navbar-light bg-light " id="barraNav">
        <a href="/" class="navbar-brand">
            <img src="/images/logo.png" alt="" id="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navBarDesplegable"
            aria-controls="navBarDesplegable" aria-expanded="false" aria-label="Toggle navigation" id="btnBurger">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navBarDesplegable">
            <ul class="navbar-nav mb-2 mb-md-0 ulNavBar ">
                <li class="nav-item active">
                    <a href="/" class="nav-link px-2 link-secondary">Inicio</a>
                </li>
                <li class="nav-item">
                    <a href="/nosotros" class="nav-link px-2 link-secondary">Quienes Somos</a>
                </li>
                <li class="nav-item">
                    <a href="/tienda" class="nav-link px-2 link-secondary">Tienda</a>
                </li>
                <li class="nav-item">
                    <a href="/" class="nav-link px-2 link-secondary" data-toggle="modal" data-target="#exampleModal"
                        data-whatever="@mdo">Contacto</a>
                </li>
            </ul>
        </div>


        <% if (!locals.userLogged) { %>
           
            <div class=" text-end">
                <li class=" btn botones"><a href="/user/login" class="nav-link p-0 ">Iniciar Sesión <i class="fas fa-sign-in-alt icono ml-1"></i></a>
                    
                </li>
            </div>
            <%}else{%>
              
                <div class="contieneCarrito">
                   
                    <p id="contadorCarrito" class=""> 00</p>
                   
                <li class="btn text-end carritoIcono">                    
                    <a href="/carrito" class="nav-link p-0 estiloBtnUser"><i class="fas fa-shopping-cart"></i></a>
                </li>
                </div>
                <div class="contieneUser">
                <li class="btn text-end ">
                    <a href="/user/cuenta" class="nav-link p-0 estiloBtnUser  "><i class="fas fa-user"></i></a>
                </li>
                </div>
                
                

                <% }%>

                        
    </nav>
</header>