<div class="container bootdey">
    <div class="row gutters">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
    <div class="card" style="    border: none;">
    <div class="card-body">
    <!-- Timeline start -->
    <h4 class="titulos">LA HISTORIA DE CAFER</h4>
    <div class="timeline">        
        <div class="timeline-row aos-item" data-aos="fade-up" data-aos-duration="2000">            
            <div class="timeline-time">
                <img src="/images/nosotros/5.png" alt="" class="img-fluid col-9">
            </div>
            <div class="timeline-dot fb-bg"></div>
            <div class="timeline-content ">
                <i class="fa fa-map-marker"></i>
                <h4>¡Hola! Soy Caferlyn Jabwiler, pero me me llaman Cafer.</h4>
                <p>Mi nombre está formado por las letras de mis creadores (creadores
                    del film stretch Ralph Wiley, jacques Brandenberger).</p>
               
            </div>
        </div>
        <div class="timeline-row aos-item" data-aos="fade-up" data-aos-duration="2000">
            <div class="timeline-time">
                <img src="/images/nosotros/1.png" alt="" class="img-fluid col-9">
            </div>
            <div class="timeline-dot green-one-bg"></div>
            <div class="timeline-content green-one">
                <i class="fa fa-map-marker"></i>
                <h4>Mi característica principal. </h4>
                <p>
                    Es que soy un film stretch y tengo alas! En Clip Shop los
                    rollos de film llegan volando, se caracterizan por sus envíos rápidos.
                </p>
               
            </div>
        </div>
        <div class="timeline-row aos-item" data-aos="fade-up" data-aos-duration="2000">
            <div class="timeline-time">
                <img src="/images/nosotros/4.png" alt="" class="img-fluid col-9">
            </div>
            <div class="timeline-dot green-two-bg"></div>
            <div class="timeline-content green-two">
                <i class="fa fa-map-marker"></i>
                <h4>Llegué a la empresa en el año 2021.</h4>
                <p>Me convertí en embajador de
                    la marca para hacer que la experiencia de los clientes sea aún
                    más grandiosa.</p>
                
            </div>
        </div>
        <div class="timeline-row aos-item" data-aos="fade-up" data-aos-duration="2000">
            <div class="timeline-time">
                <img src="/images/nosotros/4.png" alt="" class="img-fluid col-9">
            </div>
            <div class="timeline-dot green-three-bg"></div>
            <div class="timeline-content green-three">
                <i class="fa fa-map-marker"></i>
                <h4>Un poco más sobre mi.</h4>
                <p>
                    Tengo ciertas habilidades, puedo brindarles información sobre los productos,
                    contarles sus beneficios, acercarles promociones exclusivas y al mismo tiempo,
                    ayudarles con cualquier consulta que se les presente.
                </p>
              
            </div>
        </div>
        <div class="timeline-row aos-item" data-aos="fade-up" data-aos-duration="2000">
            <div class="timeline-time">
                <ul class="list-unstyled d-flex mr-5">
                    <li class="ms-3">
                        <a class="link-dark redesFooter" href="https://www.tiktok.com/@clipshop.ar"><img src="/images/tiktok.png" alt="" width="35"
                                height="35"></a>
                    </li>
                    <li class="ms-3">
                        <a class="link-dark redesFooter" href="https://www.facebook.com/ClipShopPapelera/photos/?ref=page_internal"><img src="/images/FC.png" alt="" width="35"
                                height="35"></a>
                    </li>
                    <li class="ms-3">
                        <a class="link-dark redesFooter" href="https://www.instagram.com/clipshopapelera/?hl=es"><img src="/images/ig.png" alt="" width="35"
                                height="35"></a>
                    </li>
                    <li class="ms-3">
                        <a class="link-dark redesFooter" href="https://www.youtube.com/@clipshoponline1942"><img src="/images/youtube.png" alt="" width="35"
                                height="35"></a>
                    </li>
                </ul>
            </div>
            <div class="timeline-dot green-three-bg"></div>
            <div class="timeline-content green-three">
                <i class="fa fa-map-marker"></i>
                <h4 >No olviden seguirnos en nuestras redes sociales para conocernos mejor.</h4>
                
              
            </div>
        </div>
        
    
    </div>
    <!-- Timeline end -->
    </div>
    </div>
    </div>
    </div>
    </div>


    <script>
        document.querySelector('html').classList.remove('no-js');
        if (!window.Cypress) {
          const scrollCounter = document.querySelector('.js-scroll-counter');
  
          AOS.init({
            mirror: true
          });
  
          document.addEventListener('aos:in', function(e) {
            console.log('in!', e.detail);
          });
  
          window.addEventListener('scroll', function() {
            scrollCounter.innerHTML = window.pageYOffset;
          });
        }
      </script>