<%- include ( './partials/head' ); %>
    <link rel="stylesheet" href="/css/carrito.css">

    </head>

    <body class="">

        <%- include ( './partials/header' ); %>
            <%- include ( './partials/contacto' ); %>

                <!--CARRITO DE COMPRAS-->

                <section id="carritoDeCompras" class=" ">
                    <div class="productoCarrito estiloDeCaja container carritodeproductos">

                    </div>
                </section>
                <footer id="pieCarrito" class="container">
                        <h5 class="subtotal">Subtotal: <span class="montoSubTotal">$-</span></h5>
                        <h5 id="costoEnvio">Costo de envio a CABA: <span class="costoEnvio">$-</span> </h5>
                        <h2>Total: <span class="montoTotal">$-</span></h2>
                        <div class="voucher">
                            <p>Tengo un voucher:</p>
                            <input type="text" class="inputVoucher">
                            <button class="botones verificarVoucher" style="padding: .5em 1em;">Verificar</button>
                            <span class="descuento"></span>
                        </div>
                    <input type="button" value="Comprar" class="botones btn botonComprar">
                </footer>
                <script src="/js/carrito.js"></script>
                <%- include ( './partials/footer' ); %>