<%- include ( './partials/head' ); %>
    <link rel="stylesheet" href="/css/formularios.css">
    </head>

    <body>
        <%- include ( './partials/header' ); %>
            <%- include ( './partials/contacto' ); %>
                <% if (locals.userLogged) { %>
                    <% if (locals.userLogged.rol=="admin" ) { %>
                        <section class="container mx-auto">
                            <form action="/contacto/enviarEmail" method="post">
                                <div class="input-block">
                                    <input type="text" placeholder="Asunto" name="asunto">
                                </div>
                                <div class="input-block">
                                    <textarea placeholder="Mensaje" name="mensaje"></textarea>
                                </div>
                                <button type="submit" class="btn botones">Enviar</button>
                            </form>
                        </section>
                        <%}else{%>
                            <h3 class="text-center my-5">Usted no posee credenciales validas para acceder a esta
                                sección.</h3>

                            <%}}%>


                                <%- include ( './partials/footer' ); %>