<%- include ( './partials/head' ); %>
    <link rel="stylesheet" href="css/nosotros.css">
    </head>

    <body class="">
        <%- include ( './partials/header' ); %>
            <%- include ( './partials/contacto' ); %>



                <section id="quienesSomos" class="container-fluid">
                    <div class="row">
                        <h4 class="col-10 titulos">Somos clip Shop</h4>
                        <p class="col-12">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde placeat, harum nesciunt quas dolore dolores voluptate eligendi? Tempora debitis itaque dolorum porro consequuntur? Numquam expedita repellat asperiores
                        </p>
                    </div>
                </section>
                <section class="container ">
                    <article class="row justify-content-center">

                        <div class="card mx-3 col-4 mt-2 mb-2">
                            <div class="card-img-top">
                                <img src="/images/usuarios/user_6.jpg" alt="" class="img-fluid">
                            </div>
                            <h3 class="mb-0">Noni</h3>
                            <span> Fecha de incorporaci贸n al equipo</span>
                            <p class="card-text mb-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia libero praesentium beatae, numquam doloribus harum cupiditate </p>
                            <a href="#" class="stretched-link">Linkedin</a>
                        </div>


                        <div class="card mx-3 col-4 mt-2 mb-2">
                            <div class="card-img-top">
                                <img src="/images/usuarios/user_3.jpg" alt="" class="img-fluid">
                            </div>
                            <h3 class="mb-0">Facu</h3>
                            <span> Fecha de incorporaci贸n al equipo</span>
                            <p class="card-text mb-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia libero praesentium beatae, numquam doloribus harum cupiditate </p>
                            <a href="#" class="stretched-link">Linkedin</a>
                        </div>


                        <div class="card mx-3 col-4 mt-2 mb-2">
                            <div class="card-img-top">
                                <img src="/images/usuarios/user_2.jpg" alt="" class="img-fluid">
                            </div>
                            <h3 class="mb-0">Martin</h3>
                            <span> Fecha de incorporaci贸n al equipo</span>
                            <p class="card-text mb-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia libero praesentium beatae, numquam doloribus harum cupiditate </p>
                            <a href="#" class="stretched-link">Linkedin</a>
                        </div>


                        <div class="card mx-3 col-4 mt-2 mb-2">
                            <div class="card-img-top">
                                <img src="/images/usuarios/user_5.jpg" alt="" class="img-fluid">
                            </div>
                            <h3 class="mb-0">Jose</h3>
                            <span> Fecha de incorporaci贸n al equipo</span>
                            <p class="card-text mb-auto">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia libero praesentium beatae, numquam doloribus harum cupiditate </p>
                            <a href="#" class="stretched-link">Linkedin</a>
                        </div>
                    </article>
                </section>
                <section id="galeria" class="container contiene mt-5">
                    <h2>Galeria de fotos</h2>
                    <main class="gallery">
                        <figure>
                            <img src="/images/user_5.jpg" alt="image" />
                        </figure>
                        <figure>
                            <img src="/images/user_1.jpg" alt="image" />
                        </figure>
                        <figure>
                            <img src="/images/user_2.jpg" alt="image" />
                        </figure>
                        <figure>
                            <img src="/images/user_3.jpg" alt="image" />
                        </figure>
                        <figure>
                            <img src="/images/user_4.jpg" alt="image" />
                        </figure>
                        <figure>
                            <img src="/images/user_5.jpg" alt="image" />
                        </figure>
                        <figure>
                            <img src="/images/user_1.jpg" alt="image" />
                        </figure>
                        <figure>
                            <img src="/images/user_2.jpg" alt="image" />
                        </figure>
                        <figure>
                            <img src="/images/user_3.jpg" alt="image" />
                        </figure>
                        <figure>
                            <img src="/images/user_4.jpg" alt="image" />
                        </figure>
                        <figure>
                            <img src="/images/user_1.jpg" alt="image" />
                        </figure>
                        <figure>
                            <img src="/images/user_2.jpg" alt="image" />
                        </figure>
                        <figure>
                            <img src="/images/user_3.jpg" alt="image" />
                        </figure>
                        <figure>
                            <img src="/images/user_4.jpg" alt="image" />
                        </figure>
                    </main>
                </section>
                -->
                <%- include ( './partials/footer' ); %>