<%- include ( './partials/head' ); %>
</head>
<body class="">
 <section class="container" id="contieneError404">
<div class="row">
    <img src="/images/error404.png" alt=""
    class="col-9 error404 img-fluid">
    <a href="/" class="btn botones col-10 btn404" style="
    align-self: center;">Ir a la página principal</a>
</div>
</section>

