<%- include ( './partials/head' ); %>
  <!--<link rel="stylesheet" href="/css/login.css">-->
  </head>

  <body class="">
    <%- include ( './partials/header' ); %>
      <%- include ( './partials/contacto' ); %>

        <section class="container ">
          <form action="/vouchers" enctype="application/x-www-form-urlencoded"
            method="post" class="estiloDeCaja" id="formVoucher">
            
            <button type="submit" class="btn botones btnEditarGuardar">Guardar cambios</button>
          </form>
        </section>


        <%- include ( './partials/footer' ); %></body>