#miCuenta h3 {
    width: 60%;
    padding: 12px 0;
    border-radius: 10px;
    text-align: center;
    margin: 5px;
}

#miCuenta article {
    text-align: -webkit-center;
    margin: 50px 0;
}


/***********************************DATOS PERSONALES**************************************/

#datosUsuarios {
    width: 75vw;
    margin: 0 auto;
}

.inputDatosUser {
    border-radius: 6px;
    padding: 8px;
    border: solid 2px #37BBA4;
}


/******************************HISTORIAL COMPRAS******************************************/

#comprasHistorial {
    width: 80%;
}

.pedido {
    margin: 15px;
    box-shadow: 3px 12px 13px 1px rgba(0, 0, 0, 0.075);
    padding: 15px 20px;
    border-radius: 15px;
    background-color: #e9dc6611;
}


/****************************ADMINISTRACIÓN PRODUCTOS***********************************************/

#adminProductos {
    width: 85%;
}

.btnAdminProd {
    margin: 12px auto;
    height: auto;
}


/*****************************************PRE-CUENTA PARA ABONAR********************************/

.cuenta {}


/*-----TABLET---------------------------------------------------------------------------********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

@media(min-width: 390px) {
    #miCuenta h3 {
        width: 60%;
        padding: 14px 10px;
    }
}


/*--------------------------------------------------------------------------------------COMPUTADORA-LAPTOP---------------------------------------------------------------------------********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

@media(min-width:991px) {
    .btnCuenta {
        margin: 15px;
        width: auto;
    }
}