/*******************DETALLE PRODUCTOS**********************/

.contieneImgProdDetalle {
    text-align: center;
}

.imgProductoDetalle {
    margin: 0 auto;
    width: 100%;
}

.contenedorDetalleProd {
    margin: auto;
    padding: 10px;
}

.editarProductoCaja {
    margin: 25px auto;
    padding: 50px 15px;
    border-radius: 12px;
    width: 70%;
    box-shadow: 0px 11px 13px 0px rgba(0, 0, 0, 0.51);
}

.botonesDelEditor {
    width: 70%;
    margin: 0 auto;
}

.botoneEliminar {
    background-color: #f75959 !important;
}

.botoneEliminar:hover {
    background-color: #fd2525 !important;
    color: rgb(255, 245, 238) !important;
}


/*--------------------------------------------------------------------------------------COMPUTADORA-LAPTOP---------------------------------------------------------------------------********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

@media(min-width: 1025px) {
    .imgProductoDetalle {
        width: 20%;
    }
}