/*
Principal Verde: #37BBA4
Principal Beige: #A59383

Objetos verde: #00d3a1
Blancos: #fffcfa
Amarillos: #f7c959
Gris/Beiges: #a59384 
Violeta: #5424B2
*/


/***************CSS GENERAL ***************************************************/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.body{
    margin: 0;
}
#encabezadoPagina {
    padding: 0 !important;
    margin: 0;
}

.iconos {
    font-size: 0.8rem;
    margin: 0 15px;
}

.iconosUser {
    font-size: 1.7rem;
    font-weight: 600;
}

.ocultar {
    display: none;
}

.mostrar {
    display: block;
}

.estiloDeCaja {
    margin: 15px auto;
    box-shadow: 3px 12px 13px 1px rgb(0 0 0 / 24%);
    padding: 15px 20px;
    border-radius: 15px;
}
.enfasis{
    color: #5424B2;
    font-weight: 600;
    }


/*************TEXTOS*******************/

p,
a {
    font-family: 'Fira Sans', sans-serif;
    color: #7a6b5e;
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Noto Sans Display', sans-serif;
}

#logo {
    display: none;
}

.titulos {
    font-size: 2rem;
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 800;
    color: #012b24;
}
.ofertas{
    font-size: 2rem;
    font-family: 'Noto Sans Display', sans-serif;
    font-weight: 800;
    color: #7a6b5e;
}


/*******************BARRA NAV************************/

.ulNavBar {
    width: 100%;
}

#barraNav {
    padding: 10px 20px;
}

.mover {
    top: 215px !important;
}
/**************POP UP CHAT WHATASAPP***************************/
.contienePopUp{
    position: relative;
    
}
#popUpChat{
    position: fixed;
    z-index: 10;
    right: 1%;
    top: 85%;
    
}
/*************BOTONES*******************/

.botones {
    background-color: #f7c959;
    border: none;
    border-radius: 5px;
    color: rgb(255, 245, 238);
    font-weight: 600;
    box-shadow: 5px 6px 15px 0px rgba(0, 0, 0, 0.30);
    font-size: 1rem;
}

.botones:hover {
    transition-duration: 0.8s;
    background-color: #5424B2;
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    color: rgb(255, 245, 238);
}

.eliminasEstiloLink {
    text-decoration: none;
    font-family: 'Fira Sans', sans-serif;
}

.eliminasEstiloLink:hover {
    text-decoration: none;
    color: #5424B2;
    font-family: 'Fira Sans', sans-serif;
}

.estiloBtnUser {
    font-size: 1rem;
    margin: 0 0 0 15px;
}

.userIcono {
    border-radius: 50%;
    background-color: #f7c959;
    padding: 0.4rem 0.7rem;
}

#contadorCarrito {
    position: absolute;
    top: 8px;
    right: 71px;
    background: #f7c959ba;
    color: #5424B2;
    font-weight: 600;
    border-radius: 50%;
    padding: 1px 8px;
}


/************ANIMACIÓN BOTON HOVER***************/

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    50% {
        -webkit-transform: scale3d(1.05, 1.05, 1.05);
        transform: scale3d(1.05, 1.05, 1.05);
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}


/**************CARUSEL HOME***************************************************/

.bannersPromociones {
    display: none;
}


/***************BOTONERA O BARRA INFORMATIVA ***************************************************/

.filaInformativa {
    margin: 50px;
}

.botoneraInformativa {
    border: solid 2px #fffcfa;
    background-color: #fffcfa;
    box-shadow: inset 10px 10px 9px -4px rgba(214, 214, 214, 0.877);
    border-radius: 10px;
    align-self: center;
    text-align: center;
    display: flex;
    margin: 15px 0;
}

.imgBtnInformativa {
    width: 30%;
}

.botoneraInformativa p {
    font-size: 15px;
    margin: auto;
    font-weight: 600;
}

.contieneCarrito {
    margin-right: 0;
    margin-left: auto;
}

.btnCuenta {
    margin: 15px auto;
}


/******************CATEGORIAS HOME*****************************/

#categorias {
    margin: 150px 0;
}

#categorias div {
    justify-content: space-between;
    margin: 0 auto;
}

.imgCategoriaHome {
    display: none;
}

#categorias article div {
    text-align: center;
    color: #37bba5;
}

#categorias article:hover {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#categorias a {
    text-decoration: none;
}

#categorias a:hover {
    color: #5424B2;
}


/****************************Listado CLientes********************************************/

.cardUsuarios {
    box-shadow: 0px 11px 13px 0px rgba(0, 0, 0, 0.51);
    border-radius: 15px;
    padding: 15px;
    margin: 25px auto;
    width: 70%;
    
}


/****************************Formulario cambio de clave********************************************/

#formularioActualizaClave {
    width: 70%;
    margin-top: 100px;
    margin-bottom: 100px;
}


/*************error404**********************/

.error404 {
    width: 50%;
    margin: 50px auto;
}

.btn404 {
    width: 40%;
    align-self: self-end;
}


/******************FOOTER*******************************/

.mascotaFeliz{
    display: none;
}
#piePagina{
    max-height: 540px;

}
#ofertas {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


/*-----TABLET---------------------------------------------------------------------------********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

@media(min-width: 991px) and (max-width: 1024px) {
    .titulos {
        font-size: 2rem;        
    }
    /*************LOGO*******************/
    #logo {
        display: block;
        width: 20%;
        margin-left: 50px;
    }
    .filaInformativa div {
        margin: 15px auto;
    }
    #ofertas {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    .imgCategoriaHome {
        display: block;
        margin: 0 auto;
    }
    /***************************************************** BOTONES E ICONOS TABLET **************************************************/
    #contadorCarrito {
        top: 20px;
        right: 75px;
    }
    .btnCuenta {
        margin: 0;
    }
}


/*--------------------------------------------------------------------------------------COMPUTADORA-LAPTOP---------------------------------------------------------------------------********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

@media(min-width: 1025px) {
    .titulos {
        font-size: 2rem;        
    }
    /***********************************HOME**********************************************/
    #logo {
        display: block;
        width: 20%;
        margin-left: 50px;
    }
    /***************CARUSEL HOME***************************************************/
    .bannersPromociones {
        display: block;
        box-shadow: 0px 11px 13px 0px rgba(0, 0, 0, 0.51);
        margin: 15px 0 50px 0;
    }
    #contieneOfertas {
        margin: 150px auto;
    }
    #ofertas {
        overflow: hidden;
        width: 70%;
        margin: 20px auto;
        border-radius: 15px;
    }
    #categorias div {
        justify-content: space-between;
        width: 80%;
    }
    .imgCategoriaHome {
        display: block;
        margin: 0 auto;
    }

    /************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************* BOTONES E ICONOS PC ***********************************************************************************************************************************************************************************************************************************************************************************/
     
    
    .estiloBtnUser {
        border: none;
        font-size: 1rem;
        color: #4e0263;
    }
    .estiloBtnUser:hover {
        border: none;
    }
    .userIcono {
        border-radius: 50%;
        background-color: #f7c959;
    }
    .iconoCarrito {
        border: none;
        font-size: 1.3rem;
        color: #4e0263;
    }
    #contadorCarrito {
        padding: 2px 9px;
    top: 13px;
    right: 71px;
    }
    
.mascotaFeliz{
    display: block;
}
 /******************LISTADO CLIENTES**********************/
 .cardUsuarios {
    box-shadow: 0px 11px 13px 0px rgba(0, 0, 0, 0.51);
    border-radius: 15px;
    padding: 15px;
    margin: 25px auto;
    width: auto;
    
}



}