/****************ALTA----PRODUCTO********************/
#formularioAltaProducto{
    width: 40%;
    margin: 50px auto;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 11px 13px 0px rgba(0, 0, 0, 0.51);
}
#altaPedidoBtn{
    width: 20%;
    margin: 50px auto 0 auto;

/****************MODIFICAR----PRODUCTO***********/
}
.fechaVoucher{
    font-size: 1rem;
}
.nombreVoucher{
    font-size: 1.4rem;
}
.valorVoucher{
    font-size: 1.1rem;
    font-weight: 600;
}

/**************************MODIFICAR----PERFIL***********************************/

.claveBox {
    align-items: end;
}

.formularioEditPerfil {
    margin: 50px auto;
    width: 75%;
    padding: 15px;
}


.formularioEditPerfil label {
    color: #a59384;
    font-weight: 600;
}

.formularioEditPerfil .btnEditarGuardar {
   width: 70%;
}



/****************************MODIFICAR----CLAVE********************************************/

#formularioActualizaClave {
    width: 50%;
}
/*-----TABLET---------------------------------------------------------------------------********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/


@media(min-width: 991px) and (max-width: 1024px){

}
/*--------------------------------------------------------------------------------------COMPUTADORA-LAPTOP---------------------------------------------------------------------------********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

@media(min-width: 1025px ) {


}