/**************************TIENDA***********************************/

.botonFiltro {
    margin-left: auto;
    margin-top: 35px;
}

.precioFiltro {
    align-items: baseline;
}

.contieneProductos {
    transition: transform 1071ms ease-out;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 !important;
}

.contieneProductos:hover {
    transform: translate(-11px, -10px) scale(1.05, 1.05);
}

.imgProducto {
    border-radius: 12px 12px 0 0;
    width: 100%;
    margin: 0 auto;
    text-align: center;

}

.categoriaTienda {
    text-align: end;
    padding: 8px 13px;
    background-color: #00d3a25e;
    margin: 0 -20px;
    color: #504e4d;
}

.detalleProductoTienda {
    padding: 0 20px;
}

.detalleProducto {
    padding: 15px;
    margin: 10px;
}

.nombreProductoTienda {
    margin-top: 10px;
    text-align: right;
}

.precioProductoTienda {
    font-size: 1.5rem;
}

/*-----TABLET---------------------------------------------------------------------------********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/


@media(min-width: 991px) and (max-width: 1024px) {
   
  
    
}

/*--------------------------------------------------------------------------------------COMPUTADORA-LAPTOP---------------------------------------------------------------------------********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

@media(min-width: 1025px) {
    .contieneProductos {
        width: 24%;
        margin: 20px;
        
     }
 
     .imgProducto {
        width: 100%;
        margin: 0 auto;
        
     }
}